@charset "UTF-8";

* {
  font-family: 'Sawarabi Mincho', serif;
}

body {
  background: #151515;
  overflow-x: hidden;
}

.hidden {
  overflow: hidden;
}

h1 {
  color: #f4f4f4;
}

h2,
p,
span {
  color: #D5D5D5;
}

h1 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
}

p {
  line-height: 2;
}

/* 改行 */
.br-pc {
  display: none;
}

/* ヘッダー */
header {
  border-bottom: 1px solid #fff;
}

.head {
  height: 45px;
  position: relative;
}

.head__logo {
  width: 160px;
  margin-left: 25px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* ハンバーガーメニュー */
.hamburger {
  width: 40px;
  height: 20px;
  margin-right: 25px;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  cursor: pointer;
}

.hamburger__inner {
  background-color: #fff;
  height: 1px;
  position: absolute;
  transition: 1s;
}

.line1 {
  width: 100%;
}

.line2 {
  width: 75%;
  top: 50%;
  transform: translateX(35%);
}

.line3 {
  width: 50%;
  bottom: 0;
  transform: translateX(100%);
}

.line_1 {
  width: 75%;
  transform: translateY(10px) rotate(-45deg);
}

.line_2 {
  opacity: 0;
}

.line_3 {
  width: 75%;
  transform: translateY(-10px) rotate(45deg);
}

/* ナビゲーション */
nav {
  width: 100%;
  height: 100%;
  padding-top: 30px;
  opacity: 0;
  background: #151515;
  position: fixed;
  top: 45px;
  bottom: 0;
  border-top: 1px solid #F4F4F4;
  transition: .5s;
  z-index: -1;
}

.nav__list--item {
  margin-bottom: 40px;
  text-align: center;
  font-size: 20px;
  color: #F4F4F4;
  cursor: pointer;
}

.nav__list--item:last-of-type {
  margin-bottom: 60px;
}

.nav__list--item.is-active {
  color: #FF4343;
}

.in {
  opacity: 1;
  z-index: 1;
}

.icon__list {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 113px;
}

.icon__list--img > img {
  width: 30px;
}

/* アイキャッチ画像 */
.eyechatching {
  width: 100%;
  height: 300px;
  opacity: .8;
  z-index: -1;
  background: no-repeat center center/cover;
}

/* フッター */
footer {
  background: #151515;
  padding: 30px 30px 20px;
  border-top: 1px solid #fff;
  text-align: center;
}

footer ul {
  color: #F4F4F4;
  text-decoration: underline;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

footer li a,
footer p {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 12px;
}

@media screen and (min-width: 376px) and (max-width: 1920px){
  h1 {
    font-size: 32px;
    margin-bottom: 60px;
  }

  /* 改行 */
  .br-sp {
    display: none;
  }

  .br-pc {
    display: block;
  }

  /* ヘッダー */
  .head {
    max-width: 1000px;
    height: 70px;
    margin: 0 auto;
  }

  .head__logo {
    width: 320px;
    margin-left: 0;
  }

  /* ハンバーガー */
  .hamburger {
    display: none;
  }

  /* ナビゲーション */
  nav {
    height: 70px;
    opacity: 1;
    z-index: 1;
    position: static;
    padding-top: 0;
    border: none;
  }

  .nav__list {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
  }

  .nav__list--item {
    margin-bottom: 0;
    font-size: 16px;
    color: #F4F4F4;
  }

  .nav__list--item:last-of-type {
    margin-bottom: 0;
  }

  .icon__list {
    display: none;
  }

  /* アイキャッチ画像 */
  .eyechatching {
    width: 100%;
    height: 800px;
    opacity: .8;
  }


  /* フッター */
  footer {
    padding-bottom: 60px;
  }

  footer ul {
    width: 336px;
    margin: 0 auto 12px;
  }
}

