section {
  padding: 90px 0 30px;
}

h2 {
  font-size: 16px;
  text-decoration: underline;
}

span {
  font-size: 14px;
  margin-right: 14px;
}

p {
  font-size: 14px;
}

/* スライダー */
.js-slider {
  padding: 0;
}

img {
  width: 100%;
  position: relative;
}

.slick-dots {
  position: absolute;
  bottom: 16px;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-dots li button:before {
  opacity: 1;
  color: #fff;
}

.slick-dots li.slick-active button:before {
  color: #FF4343;
  opacity: 1;
}

/* セクション */
.news,
.blog {
  background: #151515;
}

.about,
.service,
.access {
  background: #840E0E;
  position: relative;
}

.about::before,
.service::before,
.blog::before {
  content: "";
  position: absolute;
  top: 0;
  border-style: solid;
  border-color: #151515 transparent transparent transparent;
  border-top-width: 45px;
  border-right-width: 375vw;
}

.service::before {
  top: -45px;
  border-color: transparent transparent #840E0E transparent;
  border-top-width: 0;
  border-bottom-width: 45px;
}

.blog::before {
  top: -45px;
  border-color: transparent transparent #151515 transparent;
  border-top-width: 0;
  border-bottom-width: 45px;
  border-left-width: 375px;
}

.about::after,
.service::after,
.blog::after {
  content: "";
  position: absolute;
  bottom: -45px;
  border-style: solid;
  border-color: #840E0E transparent transparent transparent;
  border-top-width: 45px;
  border-right-width: 375px;
  z-index: 1;
}

.service::after {
  border-left-width: 375px;
}

.blog::after {
  border-color: #151515 transparent transparent transparent;
}

/* 最新情報（section-news） */
.list__item {
  margin: 0 25px 30px;
}

.list__item:last-child {
  margin-bottom: 0;
}

.list__item > span:last-of-type {
  margin-right:0px;
}

.list__item--date {
  display: inline-block;
  margin-bottom: 16px;
}

.list__item--icon {
  padding: 0 5px;
  background: #FF4343;
}

/* わいず祭りについて（section-about） */
.about p {
  font-size: 14px;
  text-align: center;
  margin-bottom: 2em;
}

.about p:last-of-type {
  margin-bottom: 60px;
}

.about__img{
  display: none;
}

/* ボタン */
.about button,
.service > button,
.blog > button {
  width: 122px;
  display: block;
  margin: 0 auto;
  padding: 7px 35px 7px 10px;
  border: 1px solid #D5D5D5;
  color: #D5D5D5;
  font-size: 14px;
}

button::after {
  content: "\03e";
  position: absolute;
  margin-left: 20px;
}

/* アイキャッチ画像 */
.eyechatching {
  width: 100%;
  height: 300px;
  opacity: .8;
  z-index: -1;
  background: no-repeat center center/cover;
}

.eyechatching:nth-of-type(1) {
  background-image: url(../../common/img/top_eye-catching-01.jpeg);
}

.eyechatching:nth-of-type(2) {
  background-image: url(../../common/img/top_eye-catching-02.jpeg);
}

/* 屋台一覧 */
.service {
  padding-top: 45px;
  padding-bottom: 45px;
}

.service > p {
  display: block;
  width: 325px;
  margin: 0 auto 60px;
  text-align: left;
  line-height: 2;
}

.service .br-sp {
  display: none;
}

.service-slider img {
  width: 120px;
  height: 80px;
}

.service > button {
  margin-bottom: 60px;
}

/* ブログ */
.blog {
  padding-top: 40px;
  position: relative;
}

.card {
  width: 325px;
  padding: 25px 25px 30px;
  margin: 0 auto 30px;
  background: #D5D5D5;
}

.card__img {
  width: 275px;
}

.card__img,
.card__item--ttl {
  margin-bottom: 14px;
}

.card__item--ttl,
.card__item--text {
  color: #000;
}

.card__item--text {
  line-height: 1.5;
}

/* アクセス */
.access {
  padding-bottom: 90px;
}

iframe {
  width: calc(100% - 50px);
  height: 244px;
  margin: 0 25px 30px;
}

.access__info {
  margin: 0 25px;
}

.access__info th,
.access__info td {
  display: block;
  font-size: 14px;
}

.access__info th {
  width: 77px;
  background: #151515;
  color: #F4F4F4;
  padding: 5.5px;
  margin-bottom: 14px;
  border-radius: 0 10px 10px 0;
}

.access__info td {
  color: #F4F4F4;
}

.access__info tr:not(:last-of-type) td {
  margin-bottom: 30px;
}

@media screen and (min-width: 376px) and (max-width: 1920px){
  .about::before {
    border-top-width: 100px;
    border-right-width: 1920px;
  }

  .service::before {
    top: -100px;
    border-bottom-width: 100px;
    border-right-width: 1920px;
  }

  .blog::before {
    top: -100px;
    border-bottom-width: 100px;
    border-left-width: 1920px;
  }

  .service::after,
  .blog::after {
    bottom: -100px;
    border-top-width: 100px;
    border-left-width: 1920px;
  }

  .about::after {
    bottom: -100px;
    border-top-width: 100px;
    border-right-width: 1920px;
  }

  .news {
    padding-bottom: 200px;
  }

  .about button,
  .service > button,
  .blog > button {
    width: 150px;
    padding: 6.5px 30px 6.5px 10px;
    font-size: 20px;
  }

  img {
    max-width: 1000px;
    margin: 0 auto;
  }

  article {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .list {
    line-height: 1.5;
  }

  .list__item {
    margin: 0 0 16px;
  }

  .list__item--date {
  margin-bottom: 0;
  }

  .about {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
  }

  .about__text {
    flex-basis: 500px;
    padding-right: 50px;
  }

  .about__text h1 {
    margin-top: 80px;
  }

  .about p {
    text-align: left;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 2;
  }

  .about__img {
    display: flex;
    flex-basis: 500px;
  }

  .about__img img {
    width: 200px;
    height: 450px;
  }

  .about__img .img1 {
    transform: translate(50%, 10%);
    z-index: 2;

  }
  .about__img .img2 {
    transform: translate(30%, 15%);
    z-index: 1;
  }

  .eyechatching {
    width: 100%;
    height: 800px;
    opacity: .8;
    z-index: -1;
    background: no-repeat center center/cover;
  }

  .service {
    padding-top: 100px;
    padding-bottom: 96.49px;
  }

  .service p {
    font-size: 20px;
    width: 690px;
    text-align: center;
  }

  .service .br-sp {
    display: block;
  }

  .service-slider {
    width: 1000px;
    margin: 0 auto;
  }

  .service-slider img {
    width: 200px;
    height: 136px;
  }

  .blog {
    padding-top: 100px;
    padding-bottom: 200px;
  }

  .card {
    display: flex;
    width: 1000px;
    padding-bottom: 35px;
  }

  .card:last-of-type {
    margin-bottom: 60px;
  }

  .card__img {
    width: 250px;
    margin-bottom: 0;
  }

  .card__item {
    margin-left: 25px;
  }

  .access {
    padding-top: 200px;
  }

  .access__box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-bottom: 200px;
  }

  .access__info {
    flex-basis: 510px;
  }

  .access__info th,
  .access__info td {
    display: inline-block;
    font-size: 16px;
  }

  .access__info th {
    width: 16%;
    margin-bottom: 30px;
  }

  .access__info td {
    width: 84%;
    padding: 5.5px 0 5.5px 16px;
    border-bottom: 1px solid #151515;
  }

  .access__info .br-sp {
    display: none;
  }

  iframe {
    width: 430px;
    height: 300px;
    margin: 0;
  }

  footer {
    padding-bottom: 60px;
  }

  footer ul {
    width: 336px;
    margin: 0 auto 12px;
  }

}

