* {
  font-family: 'Sawarabi Mincho', serif;
}

section {
  padding: 90px 0 30px;
}

h1,
h2,
p,
span {
  color: #f4f4f4;
}

h1 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
}

h2 {
  font-size: 16px;
  text-decoration: underline;
}

span {
  font-size: 14px;
  margin-right: 14px;
}

p {
  font-size: 14px;
}

.head {
  height: 45px;
  background: #151515;
  position: relative;
}

.head__logo {
  width: 160px;
  margin-left: 25px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.hamburger {
  width: 40px;
  height: 20px;
  margin-right: 25px;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.hamburger__inner {
  background-color: #fff;
  height: 1px;
  position: absolute;
}

.line1 {
  width: 100%;
}

.line2 {
  width: 75%;
  top: 50%;
  transform: translateX(35%);
}

.line3 {
  width: 50%;
  bottom: 0;
  transform: translateX(100%);
}

nav {
  display: none;
}

.js-slider {
  padding: 0;
}

img {
  width: 100%;
  position: relative;
}

.slick-dots {
  position: absolute;
  bottom: 16px;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-dots li button:before {
  opacity: 1;
  color: #fff;
}

.slick-dots li.slick-active button:before {
  color: #FF4343;
  opacity: 1;
}

/* 最新情報（section-news） */
.news,
.blog {
  background: #151515;
}

.list__item {
  margin: 0 25px 30px;
}

.list__item:last-child {
  margin-bottom: 0;
}

.list__item > span {
  margin-bottom: 16px;
}

.list__item > span:last-of-type {
  margin-right:0px;
}

.list__item--date {
  display: inline-block;
  margin-bottom: 16px;
}

.list__item--icon {
  padding: 0 5px;
  background: #FF4343;
}

/* わいず祭りについて（section-about） */
.about,
.service {
  background: #840E0E;
  position: relative;
}

.about::before,
.service::before,
.blog::before {
  content: "";
  position: absolute;
  top: 0;
  border-style: solid;
  border-color: #151515 transparent transparent transparent;
  border-top-width: 45px;
  border-right-width: 100vw;
}

.service::before {
  top: -45px;
  border-color: transparent transparent #840E0E transparent;
  border-top-width: 0;
  border-bottom-width: 45px;
}

.blog::before {
  top: -45px;
  border-color: transparent transparent #151515 transparent;
  border-top-width: 0;
  border-bottom-width: 45px;
  border-left-width: 100vw;
}

.about::after,
.service::after {
  content: "";
  position: absolute;
  bottom: -45px;
  border-style: solid;
  border-color: #840E0E transparent transparent transparent;
  border-top-width: 45px;
  border-right-width: 100vw;
  z-index: 1;
}

.service::after {
  border-left-width: 100vw;
}

.about > p {
  font-size: 14px;
  text-align: center;
  margin-bottom: 2em;
}

.about > p:last-of-type {
  margin-bottom: 60px;
}

.about > button,
.service > button,
.blog > button {
  width: 122px;
  display: block;
  margin: 0 auto;
  padding: 7px 35px 7px 10px;
  border: 1px solid #D5D5D5;
  color: #D5D5D5;
  font-size: 14px;
}

button::after {
  content: "\03e";
  position: absolute;
  margin-left: 20px;
}

/* アイキャッチ画像 */
.eyechatching {
  width: 100%;
  height: 300px;
  opacity: .8;
  z-index: -1;
  background: no-repeat center center/cover;
}

.eyechatching:nth-of-type(1) {
  background-image: url(../../common/img/top_eye-catching-01.jpeg);
}

.eyechatching:nth-of-type(2) {
  background-image: url(../../common/img/top_eye-catching-02.jpeg);
}

/* 屋台一覧 */
.service {
  padding-top: 45px;
  padding-bottom: 45px;
}
.service > p {
  display: block;
  width: 325px;
  margin: 0 auto 60px;
  text-align: left;
  line-height: 2;
}

.service-slider img {
  width: 120px;
  height: 80px;
}

.service > button {
  margin-bottom: 60px;
}

/* ブログ */
.blog {
  padding-top: 40px;
  position: relative;
}
.card {
  width: 325px;
  padding: 25px 25px 30px;
  margin: 0 auto 30px;
  background: #D5D5D5;
}

.card__img {
  width: 275px;
}

.card__img,
.card__ttl {
  margin-bottom: 14px;
}

.card__ttl,
.card__text {
  color: #000;
}

.card__text {
  line-height: 1.5;
}