* {
  font-family: 'Sawarabi Mincho', serif;
}

.head {
  height: 45px;
  background: #151515;
  position: relative;
}

.head__logo {
  width: 160px;
  margin-left: 25px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.hamburger {
  width: 40px;
  height: 20px;
  margin-right: 25px;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.hamburger__inner {
  background-color: #fff;
  height: 1px;
  position: absolute;
}

.line1 {
  width: 100%;
}
.line2 {
  width: 75%;
  top: 50%;
  transform: translateX(35%);
}

.line3 {
  width: 50%;
  bottom: 0;
  transform: translateX(100%);
}

nav {
  display: none;
}

img {
  width: 100%;
  position: relative;
}

.slick-dots {
  position: absolute;
  bottom: 16px;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-dots li button:before {
  opacity: 1;
  color: #fff;
}

.slick-dots li.slick-active button:before {
  color: #FF4343;
  opacity: 1;
}

section {
  padding: 90px 0 30px;
}

h1,
p,
span {
  color: #f4f4f4;
}

h1 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
}

span {
  font-size: 14px;
  margin-right: 14px;
}

p {
  font-size: 16px;
}

/* 最新情報 */
.news {
  background: #151515;
}

.list__item {
  margin: 0 25px 30px;
}

.list__item:last-child {
  margin-bottom: 0;
}

.list__item > span {
  margin-bottom: 16px;
}

.list__item > span:last-of-type {
  margin-right:0px;
}

.list__item > p {
  text-decoration: underline;
}

.list__item--date {
  display: inline-block;
  margin-bottom: 16px;
}

.list__item--icon {
  padding: 0 5px;
  background: #FF4343;
}

