@charset "UTF-8";

main {
  padding-bottom: 90px;
}

.fv {
  position: relative;
}

.fv__text {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  background: #191919;
  padding: 10px 0;
  font-size: 20px;
}

.fv__img {
  width: 100%;
  height: 215px;
  background: no-repeat bottom center/cover;
  background-image: url(../../common/img/access_fv.png);
}

.access__text {
  font-size: 14px;
  margin: 25px 1.5em;
}

.access__text:first-of-type {
  margin-top: 60px;
}

.access__text:last-of-type {
  margin-bottom: 40px;
}

.br-sp {
  display: none;
}

.eyechatching {
  width: 100%;
  height: 300px;
  position: relative;
  opacity: .8;
  background: no-repeat center center/cover;
  background-image: url(../../common/img/access_eye-catching.jpeg);
}

.eyechatching::before,
.eyechatching::after {
  content: "";
  position: absolute;
  top: 0;
  border-style: solid;
  border-color: #151515 transparent transparent transparent;
  border-top-width: 45px;
  border-right-width: 100vw;
}

.eyechatching::after {
  bottom: 0;
  border-color: transparent transparent #151515 transparent;
  border-bottom-width: 45px;
}

.map {
  padding-top: 37px;
}

iframe {
  width: calc(100% - 50px);
  height: 244px;
  margin: 56px 25px 60px;
}

.access__info {
  margin: 0 25px;
}

.access__info th,
.access__info td {
  display: block;
  font-size: 14px;
}

.access__info th {
  width: 77px;
  background: #840E0E;
  color: #F4F4F4;
  padding: 5.5px;
  margin-bottom: 14px;
  border-radius: 0 10px 10px 0;
}

.access__info td {
  color: #F4F4F4;
}

.access__info tr:not(:last-of-type) td {
  margin-bottom: 30px;
}

@media screen and (min-width: 376px) and (max-width: 1920px){
  main {
    padding-bottom: 200px;
  }
  .fv {
    margin: 0 auto;
    max-width: 1000px;
  }

  .fv__text {
    background: #191919;
    padding: 10px 0;
    font-size: 32px;
  }

  .fv__img {
    height: 360px;
  }

  .access__text {
    font-size: 20px;
    text-align: center;
    line-height: 2;
  }

  .access__text:first-of-type {
    margin: 90px auto 1em;
  }

  .access__text:last-of-type {
    margin-bottom: 200px;
  }

  .br-sp {
    display: block;
  }

  .eyechatching {
    width: 100%;
    height: 800px;
    opacity: .8;
  }

  .eyechatching::before,
  .eyechatching::after {
    border-top-width: 100px;
    border-right-width: 1920px;
  }

  .eyechatching::after {
    border-bottom-width: 100px;
  }

  .map {
    padding-top: 200px;
  }
  
  iframe {
    width: 1000px;
    height: 751px;
    display: block;
    margin: 0 auto 120px;
  }

  .access__info {
    width: 1000px;
    margin: 0 auto;
  }
  .access__info th,
  .access__info td {
    display: inline-block;
    font-size: 16px;
  }

  .access__info th {
    width: 8%;
    margin-bottom: 30px;
  }

  .access__info td {
    width: 42%;
    padding: 5.5px 0 5.5px 16px;
    border-bottom: 1px solid #840E0E;
  }

  .access__info .br-sp {
    display: none;
  }

  footer {
    padding-bottom: 60px;
  }

  footer ul {
    width: 336px;
    margin: 0 auto 12px;
  }
}
