@charset "UTF-8";

.ttl__sub {
  display: none;
}

.fv {
  position: relative;
}

.fv__text {
  width: 100%;
  padding: 10px 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  background: #191919;
  font-size: 20px;
}

.fv__img {
  width: 100%;
  height: 215px;
  background: no-repeat center center/cover;
  background-image: url(../../common/img/about_fv.png);
}

.about__text {
  font-size: 14px;
  margin: 60px 25px 40px;
}

.eyechatching {
  position: relative;
  background-image: url(../../common/img/about_eye-catching.jpeg);
}

.eyechatching::before,
.eyechatching::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-right-width: 100vw;
}

.eyechatching::before {
  top: 0;
  border-color: #151515 transparent transparent transparent;
  border-top-width: 45px;
}

.eyechatching::after {
  bottom: 0;
  border-color: transparent transparent #151515 transparent;
  border-bottom-width: 45px;
}

.greeting {
  padding-top: 40px;
  padding-bottom: 90px;
}

.greeting h1 {
  margin-bottom: 60px;
}

.tab {
  margin: 0 25px;
  background: #151515;
}

.tab__group {
  height: 28px;
  display: flex;
  justify-content: center;
}

.tab__group-item {
  line-height: 28px;
  flex-grow: 1;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  color: #D5D5D5;
}

.panel__group {
  background: #840E0E;
}

.panel__group--item {
  display: none;
  padding: 30px 25px 60px;
}

.panel__group--item > p {
  font-size: 14px;
  margin-bottom: 1.5em;
}

.panel__group--item > p:last-of-type {
  text-align: end;
}

.tab__group-item.is-active {
  background: #840E0E;
  transition: all .2s ease-out;
}

.panel__group--item.is-show {
  display: block;
}

.player {
	width: 100%;
	height: 57vw;
}

@media screen and (min-width: 376px) and (max-width: 1920px){
  main {
    padding-top: 60px;
  }

  .ttl__sub {
    width: 1000px;
    display: block;
    margin: 0 auto 30px;
  }

  .ttl__sub a {
    text-decoration: underline;
  }

  .ttl__sub a,
  .ttl__sub span {
    color: #D5D5D5;
    font-size: 14px;
  }

  .ttl__sub span::before {
    content: "\03e";
    margin: 0 10px;
    color: #D5D5D5;
  }

  .fv {
    margin: 0 auto;
    max-width: 1000px;
  }

  .fv__text {
    background: #191919;
    padding: 10px 0;
    font-size: 32px;
  }

  .fv__img {
    height: 360px;
  }

  .about__text {
    font-size: 20px;
    text-align: center;
    margin: 90px auto 200px;
  }

  .eyechatching::before,
  .eyechatching::after {
    border-top-width: 100px;
    border-right-width: 1920px;
  }

  .eyechatching::after {
    border-bottom-width: 100px;
  }

  .greeting {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  .tab {
    width: 1000px;
    margin: 0 auto;
    border: 0.5px solid #D5D5D5;
  }

  .tab__group {
    height: 55px;
  }

  .tab__group-item {
    line-height: 55px;
    font-size: 24px;
    border: 0.5px solid #D5D5D5;
  }

  .tab__group-item.is-active {
    border: none;
  }

  .panel__group--item {
    padding: 60px 30px;
  }

  .panel__group--item > p {
    font-size: 20px;
  }
}